input {
    border-radius: 5px !important;
}

.card {
    border-radius: 5px !important;
}

.btn{
    border-radius: 5px !important;
}

.nav-group{
    border-radius: 5px !important;
}

img {
    border-radius: 5px !important;
}

.border{
    border-radius: 5px !important;  
}

.modal-content{
    border-radius: 5px !important;
}